.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


body{
        background-color: aliceblue;
        
    }
    div{
        margin-top: 20px;
    }
    button{
        padding-left: 20px;
        padding-right: 20px;
    }
    li{
        margin-top: 10px;
    }
    input {
        color: black;
        margin-right: 5px;
    }